@import url();

/******************INICIO***************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carousel-inner {
    border-radius: 2rem;
    
}




.hero {
   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem; 
    row-gap: 2rem;

}

.hero__titulo {
    
    font-size: 4rem;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    padding: 10rem;
    border-radius: 2rem;
    margin-top: -90px;
}

.hero__botones {
    display: flex;
    gap: 8rem;
    margin-top: 1rem;
}

.hero__boton {
    font-size: 2rem;
    text-decoration: none;
    background-color: hwb(21 0% 0%);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 20px 20px 20px black;
    
    
}
/* Estilo para logo superpuesto*/
.logo {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: translateY(-50%);
    width: 150px;
    height: auto;  
   
}


body {
    background-color: rgb(0, 0, 0);
   
}

h1 {
    color: rgba(255, 255, 255, 0.842);
    padding: 30px;
    margin: 30px;
    text-align: center;
    
    
}

h2 {
    color: rgb(255, 255, 255);
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

p {
    color: rgb(255, 255, 255);
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 1rem;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.item-lista {
    font-size: 1.2rem;
    color: rgba(255, 255, 0, 0.842);
    text-decoration: none;
    padding: 20px;  
}


.item-lista2 {
    color: white;
    text-decoration: none;
    padding: 70px;
    margin: 80px;
    
}

.lista {
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    margin-left: 20px; /* Añade margen izquierdo para separar elementos */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /*gap: 5rem;*/
justify-content: flex-end;
    
}

.grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "desarrollo   app       tv"
    "desarrollo   app     vendedor";
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
    
    
    
}

.desarrollo {
    background-color: aquamarine;
    grid-area: desarrollo;
}

.app {
    background-color: beige;
    grid-area: app;
}

.vendedor {
    background-color: rgb(42, 42, 121);
    grid-area: vendedor;
}

.tv {
    background-color: burlywood;
    grid-area: tv;
}

.grid-hijo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 88px 0px 59px 0px;
    -webkit-border-radius: 88px 0px 59px 0px;
    -moz-border-radius: 88px 0px 59px 0px;
    
}
/******************FOOTER***************/

.social {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    
}

.social-link {
    font-size: 2rem;
    color: rgb(243, 247, 9);

    transition: .5s;
}

.social-link:hover {
    transform: scale(1.4)
}

/******************QUIENES SOMOS***************/

.volver-none {
    text-decoration: none;
    color: white;
    padding: 30px;
    margin: 30px;
}

.somos {
    background-image: url("../imagenes/somos\ 1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.somos__titulo {
    font-size: 4rem;
    text-shadow: 10px 10px 10px rgb(248, 244, 244);
    padding: 1rem;
    border-radius: 2rem;
    margin-top: -90px;
    background-color: rgba(30, 36, 51, 0.113);
}

/******************SERVICIOS***************/

.servicios {
    background-image: url("../imagenes/serv2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicios__titulo {
    font-size: 4rem;
    text-shadow: 10px 10px 10px rgb(247, 244, 244);
    padding: 8rem;
    border-radius: 2rem;
    margin-top: -100px;
}

.servicios__botones {
    display: flex;
    gap: 8rem;
    margin-top: 1rem;

}

.servicios__boton {
    font-size: 2rem;
    text-decoration: none;
    background-color: hwb(21 0% 0%);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 20px 20px 20px black;
}

/******************TvOnline***************/

.tvonline {
    background-image: url("../imagenes/tv\ online.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tvonline__titulo {
    font-size: 4rem;
    text-shadow: 10px 10px 10px rgb(249, 245, 245);
    padding: 8rem;
    border-radius: 2rem;
    margin-top: -100px;
}

.tvonline__botones {
    display: flex;
    gap: 8rem;
    margin-top: 1rem;

}

.tvonline__boton {
    font-size: 2rem;
    text-decoration: none;
    background-color: hwb(21 0% 0%);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 20px 20px 20px black;
}



/******************CONTACTO***************/

.contacto {
    background-image: url("../imagenes/somos\ 2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto__titulo {
    font-size: 4rem;
    text-shadow: 10px 10px 10px rgb(255, 255, 255);
    padding: 8rem;
    border-radius: 2rem;
    margin-top: -100px;
}

.contacto__botones {
    display: flex;
    gap: 8rem;
    margin-top: 1rem;

}

.contacto__boton {
    font-size: 2rem;
    text-decoration: none;
    background-color: hwb(21 0% 0%);
    color: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    box-shadow: 20px 20px 20px black;
}

.formulario {
    padding: 30px;
    margin: 30px;  
}