* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********Inicio********/
.w-100 {
  height: 95vh;
}

body {
  background-color: #0f0e0e;
}
body h1 {
  color: #ffffff;
  padding: 1rem;
  font-weight: 900;
}
body .carrusel-contenedor h2 {
  color: #ffffff;
  font-weight: 900;
  font-size: 1.5rem; /* Corregido: cambia la coma a punto para el valor de font-size */
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  padding: 2rem;
}
body p {
  color: #ffffff;
  font-weight: 900;
  font-size: 1rem;
}

/************Somos************/
.somos {
  background-image: url("../imagenes/somos 1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.somos__titulo {
  font-size: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: -90px;
  color: #ffffff;
}

.container-somos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 4rem;
}
.container-somos h2 {
  color: #ffffff;
}
.container-somos img {
  width: 400px;
  border-radius: 137px 0px 118px 0px;
  -webkit-border-radius: 137px 0px 118px 0px;
  -moz-border-radius: 137px 0px 118px 0px;
  border: 1rem solid #c3c5cb;
}

/*******************Servicio***************/
.servicios {
  background-image: url("../imagenes/fotoserv.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicios__titulo {
  font-size: 4rem;
  border-radius: 2rem;
  margin-top: -100px;
}

/*********************Tv Online********************/
.tvonline {
  background-image: url("../imagenes/tvfondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tvonline__titulo {
  font-size: 4rem;
  border-radius: 2rem;
}

.planes p {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 2rem;
  color: #13add3;
}

.texto-tv {
  display: flex;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #0f0e0e;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

/******************Contacto***************/
.contacto {
  background-image: url("../imagenes/llamada.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto__titulo {
  font-size: 4rem;
  border-radius: 2rem;
  margin-top: -100px;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "desarrollo app tv" "desarrollo app vendedor";
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
}
.grid .desarrollo {
  background-image: url(../imagenes/copiadesapp.jpg);
  grid-area: desarrollo;
  color: aquamarine;
  font-weight: bold;
  background-size: cover;
}
.grid .app {
  background-image: url(../imagenes/appdedo.jpg);
  grid-area: app;
  color: aqua;
  font-weight: bold;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid .vendedor {
  grid-area: vendedor;
  background-image: url(../imagenes/reseller12.png);
  background-size: cover;
  color: aqua;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid .tv {
  grid-area: tv;
  background-image: url(../imagenes/tvfondo.png);
  background-size: cover;
  color: aqua;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center center;
}
.grid .grid-hijo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 88px 0px 59px 0px;
  font-size: 2rem;
}

/***************Servicios*************/
.servicard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem;
}
.servicard img {
  border-radius: 2rem;
}
.servicard .cards {
  padding: 2rem;
}
.servicard .card-title {
  text-align: center;
  background-color: #13add3;
  border-radius: 1rem;
  margin-bottom: 10px;
  margin-top: 1.5rem;
}
.servicard .servparrafo {
  text-align: center;
  width: 100%;
}
.servicard .servparrafo p {
  font-size: 2rem;
}
.servicard .card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicard .card-img-top {
  max-height: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/****************Tv Online**************/
.card {
  position: relative;
  background-color: #0f0e0e;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s;
  background-color: #021520;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  border: 4px solid #13add3;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .front h2 {
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.card .front h4 {
  color: #fff;
  text-align: center;
}

.card .front i {
  font-size: 5rem;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icono {
  display: flex;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid rgb(198, 41, 86);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 50%;
  margin-top: 60px;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: rgb(3, 35, 54);
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
  border: 4px solid #ffffff;
}

hr {
  border: none;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 1rem 0;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.planes p {
  color: #fff;
  text-align: center;
}

.container .texto-tv p {
  color: #fff;
  text-align: center;
}

/***********************tarjeta valores Tv Online********************/
.valores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}
.valores .tabla {
  height: auto;
  margin: 10px;
  border: 4px solid #d9dee0;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 0px #13add3;
  text-align: center;
  color: #ffffff;
  background-color: #021520;
  flex-grow: 1;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
}
.valores .tabla img {
  margin-bottom: 35px;
  background-color: #fff;
  border-radius: 1rem;
  max-width: 100%;
  width: 80px;
}
.valores .tabla h2 {
  padding: 1rem;
}
.valores .tabla h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.valores .tabla p {
  display: block;
  margin-bottom: 20px;
}
.valores .tabla .boton {
  display: inline-block;
  width: 150px;
  padding: 12px;
  background-color: #13add3;
  color: #000000;
  border-radius: 2rem;
  text-align: center;
  font-size: 20px;
  margin: auto;
  border: solid rgb(0, 0, 0);
}
.valores .tabla:hover {
  background-color: #13add3;
  color: #000000;
  transition: 0.5s all;
  transform: scale(1.1);
  cursor: pointer;
}

.resellerp p {
  color: #fff;
  text-align: center;
}

.formulario {
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario form {
  padding: 50px 55px;
  box-shadow: 0 0 10px 10px #ddd3d3;
  border-radius: 2rem;
  text-align: center;
  width: 80%;
  background-color: #000000;
}
.formulario form h2 {
  color: rgb(200, 200, 225);
  font-size: 2rem;
}
.formulario .form-txt {
  display: flex;
  justify-content: center;
}
.formulario .form-txt a {
  color: #ffffff;
  margin-bottom: 2rem;
}
.formulario .form-txt a:hover {
  color: brown;
}
.formulario .input-gorup {
  display: flex;
  flex-direction: column;
}
.formulario .input-gorup input, .formulario .input-gorup textarea {
  background-color: rgb(71, 68, 74);
  padding: 20px 14px;
  margin-bottom: 25px;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
}
.formulario .input-gorup input::-moz-placeholder, .formulario .input-gorup textarea::-moz-placeholder {
  color: #696f77;
  font-size: 15px;
}
.formulario .input-gorup input::placeholder, .formulario .input-gorup textarea::placeholder {
  color: #696f77;
  font-size: 15px;
}
.formulario .input-gorup .btn {
  background-color: rgb(19, 20, 23);
  color: #aebbc2;
  font-size: 17px;
  cursor: pointer;
}
.formulario .input-gorup .btn:hover {
  background-color: #13add3;
}

.pie {
  background-color: #030f23;
}
.pie img {
  width: 80px;
}
.pie .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pie .fb {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}
.pie .fb:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}
.pie .tw {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}
.pie .tw:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}
.pie .inta {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}
.pie .inta:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}
.pie .lin {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}
.pie .lin:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}
.pie .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pie .header .parrafo {
  margin-bottom: 0;
}
.pie hr {
  border: none;
  height: 3px;
  background-color: white;
  margin: 1rem 0;
}
.pie .section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
.pie .section div {
  display: flex;
  flex-direction: column;
}
.pie .section div h2 {
  color: rgb(255, 255, 255);
}
.pie .section div a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.551);
  padding: 0.5rem;
}
.pie .social {
  background-color: rgb(38, 164, 33);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.pie .social .social-link {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.pie .social .social-link:hover {
  transform: scale(1.4);
}
.pie .derechos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #030f23;
  font-size: 1rem;
  justify-content: space-evenly;
}
.pie .derechos .pfondo {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .valores .tabla {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) and (max-width: 781px) {
  .derechos {
    flex-direction: column;
    margin: 0;
  }
  .derechos .section {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) and (max-width: 642px) {
  .tabla {
    width: 100%;
    margin: 10px 10;
  }
}
@media only screen and (max-width: 768px) and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "desarrollo" "app" "tv" "vendedor";
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) and (max-width: 481px) {
  .container-somos {
    flex-direction: column;
    text-align: center;
  }
  .container-somos .container-somos img {
    width: 90%;
    max-width: 300px;
    margin-top: 2rem;
  }
  .somos__titulo {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) and (max-width: 400px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=estilos.css.map */