@charset "UTF-8";
/******************INICIO***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-100 {
  height: 95vh;
}

body {
  background-color: #0f0e0e;
}

h1 {
  color: #ffffff;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: -95%;
  font-weight: 900;
}

.carrusel-contenedor h2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1, 5rem;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  padding: 2rem;
}

p {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1rem;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "desarrollo   app       tv" "desarrollo   app     vendedor";
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 2rem;
}

.desarrollo {
  background-image: url(../imagenes/copiadesapp.jpg);
  grid-area: desarrollo;
  color: aquamarine;
  font-weight: bold;
  background-size: cover;
}

.app {
  background-image: url(../imagenes/appdedo.jpg);
  grid-area: app;
  color: aqua;
  font-weight: bold;
  background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center center; /* Centra la imagen horizontal y verticalmente */
}

.vendedor {
  grid-area: vendedor;
  background-image: url(../imagenes/reseller12.png);
  background-size: cover;
  color: aqua;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center center;
}

.tv {
  grid-area: tv;
  background-image: url(../imagenes/tvfondo.png);
  background-size: cover;
  color: aqua;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: center center;
}

.grid-hijo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 88px 0px 59px 0px;
  font-size: 2rem;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en dispositivos móviles */
    grid-template-rows: repeat(4, auto); /* Ajusta el alto de las filas automáticamente */
    grid-template-areas: "desarrollo" "app" "tv" "vendedor";
  }
  .main {
    display: flex;
    flex-direction: column;
  }
}
/* Cambiar el color de fondo de los elementos de la grid al llegar a 480px */
@media (max-width: 480px) {
  .desarrollo {
    background-color: blue;
  }
  .app {
    background-color: chartreuse;
  }
  .vendedor {
    background-color: darkgreen;
  }
  .tv {
    background-color: fuchsia;
  }
}
/******************FOOTER***************/
.social {
  background-color: rgb(38, 164, 33);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 1rem;
  gap: 1rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-link {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.social-link:hover {
  transform: scale(1.4);
}

.pie {
  background-color: #030f23;
}

img {
  width: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fb {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Agregar sombra blanca al pasar el cursor */
.fb:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.tw {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Agregar sombra blanca al pasar el cursor */
.tw:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.inta {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Agregar sombra blanca al pasar el cursor */
.inta:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.lin {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Agregar sombra blanca al pasar el cursor */
.lin:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  transform: scale(1.4);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parrafo {
  margin-bottom: 0;
}

hr {
  border: none; /* Elimina el borde predeterminado */
  height: 3px; /* Ajusta la altura de la línea */
  background-color: white; /* Cambia el color de fondo */
  margin: 1rem 0; /* Agrega margen superior e inferior para separación */
}

.section {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.section div {
  display: flex;
  flex-direction: column;
}

h2 {
  color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.551);
  padding: 0.5rem;
}

.derechos {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #030f23;
  font-size: 1rem;
  justify-content: space-evenly;
}

.pfondo {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  margin: 30px 50px;
}

@media (max-width: 480px) {
  .derechos {
    flex-direction: column;
    margin: 0;
  }
  .section {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}
/******************QUIENES SOMOS***************/
.somos {
  background-image: url("../imagenes/somos 1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.somos__titulo {
  font-size: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-top: -90px;
}

.container-somos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 4rem;
}

.container-somos img {
  width: 400px;
  border-radius: 137px 0px 118px 0px;
  -webkit-border-radius: 137px 0px 118px 0px;
  -moz-border-radius: 137px 0px 118px 0px;
  border: 1rem solid #c3c5cb;
}

@media (max-width: 768px) {
  .container-somos {
    flex-direction: column;
    text-align: center;
  }
  .container-somos img {
    width: 100%;
    max-width: 300px;
    margin-top: 2rem;
  }
  .somos__titulo {
    font-size: 2rem;
  }
}
/******************SERVICIOS***************/
.servicios {
  background-image: url("../imagenes/fotoserv.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicios__titulo {
  font-size: 4rem;
  padding: 8rem;
  border-radius: 2rem;
  margin-top: -100px;
}

.servicard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px; /* Ajusta el valor máximo según tus necesidades */
}

.cards {
  width: 30%; /* Aproximadamente el 30% para que tres tarjetas encajen en una fila */
  margin: 1%;
}

.servparrafo {
  text-align: center;
  width: 100%;
}

/******************TvOnline***************/
.tvonline {
  background-image: url("../imagenes/tvfondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tvonline__titulo {
  font-size: 4rem;
  border-radius: 2rem;
  margin-top: -100px;
}

.tvonline__botones {
  display: flex;
  gap: 8rem;
  margin-top: 2rem;
}

.planes p {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
  color: #19b0e3;
}

.texto-tv {
  display: flex;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #0f0e0e;
  padding: 1rem;
  gap: 1rem;
}

.card {
  position: relative;
  background-color: #0f0e0e;
  width: 300px;
  height: 350px;
  margin: 10px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s;
  background-color: rgb(2, 21, 32);
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  border: 4px solid #13add3;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .front h2 {
  padding: 1rem;
  color: #fff;
  text-align: center;
}

.card .front h4 {
  color: #fff;
  text-align: center;
}

.card .front i {
  font-size: 5rem; /* Ajusta el tamaño del ícono según tus preferencias */
  color: #ffffff; /* Ajusta el color del ícono según tus preferencias */
  position: absolute;
  top: 50%; /* Centra verticalmente el ícono */
  left: 50%; /* Centra horizontalmente el ícono */
  transform: translate(-50%, -50%); /* Ajusta la posición al centro */
}

.icono {
  display: flex;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid rgb(198, 41, 86);
  top: 50%; /* Centra verticalmente el contenedor del ícono */
  left: 50%; /* Centra horizontalmente el contenedor del ícono */
  transform: translate(-50%, -50%); /* Ajusta la posición al centro */
  margin-left: 50%;
  margin-top: 60px;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background-color: rgb(3, 35, 54);
  padding: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px rgb(255, 255, 255);
  border: 4px solid #ffffff;
}

hr {
  border: none; /* Elimina el borde predeterminado */
  height: 3px; /* Ajusta la altura de la línea */
  background-color: rgb(255, 255, 255); /* Cambia el color de fondo */
  margin: 1rem 0; /* Agrega margen superior e inferior para separación */
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

@media only screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
/******************CONTACTO***************/
.contacto {
  background-image: url("../imagenes/somos 2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacto__titulo {
  font-size: 4rem;
  border-radius: 2rem;
  margin-top: -100px;
}

.formulario {
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 10px 10px #ddd3d3;
  border-radius: 2rem;
  text-align: center;
  width: 80%;
  background-color: #272b42;
}

form h2 {
  color: rgb(200, 200, 225);
  font-size: 2rem;
}

.form-txt {
  display: flex;
  justify-content: center;
}

.form-txt a {
  color: #ffffff;
  margin-bottom: 2rem;
}

.form-txt a:hover {
  color: brown;
}

.input-gorup {
  display: flex;
  flex-direction: column;
}

input, textarea {
  background-color: rgb(71, 68, 74);
  padding: 20px 14px;
  margin-bottom: 25px;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
}

::-moz-placeholder {
  color: #696f77;
  font-size: 15px;
}

::placeholder {
  color: #696f77;
  font-size: 15px;
}

:focus {
  outline: 1px solid #19b0e3;
}

.btn {
  background-color: darkcyan;
  color: #1c1e1f;
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 780px) {
  main {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=estilos.css.map */