@media only screen and (max-width: 768px) {
  .valores {
    .tabla {
      width: 100%;
    }
  }
  
  
  @media (max-width: 781px) {
    .derechos {
      flex-direction: column;
      margin: 0;

      .section {
        flex-direction: column;
        margin: 0;
        text-align: center;
      }
    }
  }
  
  @media (max-width: 642px) {
    .tabla {
      width: 100%;
      margin: 10px 10;
    }
  }
  
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "desarrollo" "app" "tv" "vendedor";
    }
  
    .main {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media (max-width: 481px) {
    .container-somos {
      flex-direction: column;
      text-align: center;
  
      .container-somos img {
        width: 90%;
        max-width: 300px;
        margin-top: 2rem;
      }
    }
  
    .somos__titulo {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 400px) {
    main {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}