/*********Inicio********/

.navbar {
  background-color: #030f23;
  .navbar-text,
  .navbar-brand, 
  .nav-link {
    color: $colorsecundario;
  }
}

.navbar-logo {
  max-width: 100px;
  height: auto;
  .navbar-brand {
    margin-right: -10px;
  }
  
}
  
  body {
    background-color: #0f0e0e;
  
    h1 {
      color: $colorsecundario;
      padding: 1rem;
      font-weight: 900;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }
  
    .carrusel-contenedor {

      .carousel-item {
        position: relative;
      }

      .carousel-item img {
        width: 100%;
        height: 95vh;
      }
      
      .carousel-item::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.4);
      }
     
      h2 {
        color: #ffffff;
        font-weight: 900;
        font-size: 2rem; 
        padding: 2rem;
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
      }
    }
  
    p {
      color: $colorsecundario;
      font-weight: 900;
      font-size: 1.1rem;  
      
    }
  }

  /************Somos************/

  .somos {
    background-image: url("../imagenes/somos1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__titulo {
      font-size: 4rem;
      padding: 1rem;
      border-radius: 2rem;
      margin-top: -90px;
      color: $colorsecundario;

    }
    
  }
  
  .container-somos {
   
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 4rem;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;

    h2 {
      color: $colorsecundario;
      background: rgba(255, 255, 255, .25);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1.5px solid rgba(209, 213, 219, 0.3);
      border-radius: 1rem;
      padding: 1rem;
      text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }
  

    img {
      width: 400px;
      border-radius: 1rem;
      flex-wrap: wrap;
      max-width: 100%;
      
    }
  }

  /*******************Servicio***************/

  .servicios {
    background-image: url("../imagenes/fotoserv.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__titulo {
      font-size: 4rem;
      border-radius: 2rem;
      margin-top: -100px;
    }
  }

  /*********************Tv Online********************/

  .tvonline {
    background-image: url("../imagenes/tvfondo.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__titulo {
      font-size: 4rem;
      border-radius: 2rem;
    }
  }
    .planes p {
      display: flex;
      justify-content: center;
      padding: 2rem;
      font-size: 2rem;
      color: $colorprincipal;
      text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }
  
    .texto-tv {
      display: flex;
      text-align: center;
      
    }
  
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #0f0e0e;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
  }

  /******************Contacto***************/

  .contacto {
    background-image: url("../imagenes/llamada.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__titulo {
      font-size: 4rem;
      border-radius: 2rem;
      margin-top: -100px;
    }
  }
  